

.logo_bomberos{
    width: 50%;
}

.navbar__container__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar__container__div{
    justify-content: center;
    align-items: center;
}